<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
    <title>{{ title }}</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
	<main role="main" class="container-fluid">
		<div class="card">
			<div class="card-header">Predication</div>
			<div class="card-body">
				<div class="card-title">Sentence:
				</div>
				<div class="card-text">
					<span id="feedbackSentence" class="evidence_sentence"
						  data-sentence-id="{{ record.sentence_id }}"
						  data-predication-id="{{ record.predication_id }}"
						  data-subject-start="{{ record.aux.subject_start_index - record.sentence.sent_start_index }}"
						  data-subject-end="{{ record.aux.subject_end_index - record.sentence.sent_start_index }}"
						  data-subject-name="{{ record.subject_name }}"
						  data-predicate-start="{{ record.aux.predicate_start_index - record.sentence.sent_start_index }}"
						  data-predicate-end="{{ record.aux.predicate_end_index - record.sentence.sent_start_index }}"
						  data-predicate="{{ record.predicate }}"
						  data-subject-cui="{{ record.subject_cui }}"
						  data-object-start="{{ record.aux.object_start_index - record.sentence.sent_start_index }}"
						  data-object-end="{{ record.aux.object_end_index - record.sentence.sent_start_index }}"
						  data-object-name="{{ record.object_name }}"
						  data-object-cui="{{ record.object_cui }}">
						{{ record.sentence.sentence }}
					</span>
					<dl class="row">
						<dt class="col-sm-2">Publication:</dt><dd class="col-sm-10"><a target="_blank" href="https://pubmed.ncbi.nlm.nih.gov/{{ record.pmid }}">{{ record.pmid }}<small><i class="bi bi-box-arrow-up-right"></i></small></a></dd>
						<dt class="col-sm-2">Publication Year:</dt><dd class="col-sm-10">{{ record.citation.pyear }}</dd>
						<dt class="col-sm-2">Document Zone:</dt><dd class="col-sm-10">
							{% if record.sentence.type == 'ti' %}
							Title
							{% else %}
							Abstract
							{% endif %}
						</dd>
<!--						<dt class="col-sm-2">Confidence:</dt><dd class="col-sm-10"></dd>-->
						<dt class="col-sm-2">Assertion:</dt><dd class="col-sm-10">
							<span class="badge bg-primary">
								{{ record.subject_name }}
							</span>
							<span class="badge bg-secondary">{{ record.predicate }}</span>
							<span class="badge bg-info">
								{{ record.object_name }}
							</span>
						</dd>

					</dl>
				</div>
			</div>
		</div>
		<div class="card">
		  <div class="card-header">
			Feedback
		  </div>
		  <div class="card-body">
			<div class="form-check">
			  <input class="form-check-input" type="checkbox" value="" id="overallCheck">
			  <label class="form-check-label" for="overallCheck">
				Assertion does not match sentence
			  </label>
			</div>
			<div class="form-check">
			  <input class="form-check-input" type="checkbox" value="" id="subjectCheck">
			  <label class="form-check-label" for="subjectCheck">
				  Subject <span class="badge bg-primary">{{ record.subject_name }}</span> is incorrect
			  </label>
			</div>
			<div class="form-check">
			  <input class="form-check-input" type="checkbox" value="" id="predicateCheck">
			  <label class="form-check-label" for="predicateCheck">
				  Predicate <span class="badge bg-secondary">{{ record.predicate }}</span> is incorrect
			  </label>
			</div>
			<div class="form-check">
			  <input class="form-check-input" type="checkbox" value="" id="objectCheck">
			  <label class="form-check-label" for="objectCheck">
				  Object <span class="badge bg-info">{{ record.object_name }}</span> is incorrect
			  </label>
			</div>
			<div class="form-check">
			  <input class="form-check-input" type="checkbox" value="" id="overallOK">
			  <label class="form-check-label" for="overallOK">
				Assertion is correct
			  </label>
			</div>
			<div class="mb-3">
				<label for="feedback-type" class="form-label">Feedback Type:</label>
				<select class="form-select" aria-label="Feedback Type Dropdown" id="feedback-type">
					<option value="correct" selected>Correct</option>
					<option value="incorrect">Incorrect</option>
					<option value="not specific enough">Not Specific Enough</option>
					<option value="too specific">Too Specific</option>
				</select>
			</div>
			<div class="mb-3">
				<label for="comments" class="form-label">Additional Comments (optional):</label>
				<input type="text" class="form-control" id="comments">
			</div>
			<button type="button" class="btn btn-outline-primary btn-sm" id="submitButton">Submit Feedback</button>
		  </div>
		</div>
	</main>
	<script>
		$(function() {
			function insertStringAt(originalString, stringToAdd, index) {
				return originalString.slice(0, index) + stringToAdd + originalString.slice(index);
			}

			function spliceStrings(originalString, spliceList) {
				outputString = originalString;
				spliceList.sort((a, b) => a[1] - b[1]);
				var priorInsertLength = 0;
				for(let i = 0; i < spliceList.length; i++) {
					outputString = insertStringAt(outputString, spliceList[i][0], spliceList[i][1] + priorInsertLength);
					priorInsertLength += spliceList[i][0].length;
				}
				return outputString;
			}

			function highlightText(id) {
				sentenceElement = document.getElementById(id);
				sentence = sentenceElement.innerText;
				dataset = sentenceElement.dataset;
				subject_start = parseInt(dataset.subjectStart, 10);
				subject_end = parseInt(dataset.subjectEnd, 10);
				predicate_start = parseInt(dataset.predicateStart, 10);
				predicate_end = parseInt(dataset.predicateEnd, 10);
				object_start = parseInt(dataset.objectStart, 10);
				object_end = parseInt(dataset.objectEnd, 10);
				let spliceList = [
					['<span class="badge bg-primary" data-bs-toggle="tooltip" title="' + dataset.subjectCui + '">', subject_start],
					['</span>', subject_end],
					['<span class="badge bg-secondary" data-bs-toggle="tooltip" title="' + dataset.predicate + '">', predicate_start],
					['</span>', predicate_end],
					['<span class="badge bg-info" data-bs-toggle="tooltip" title="' + dataset.objectCui + '">', object_start],
					['</span>', object_end]
				];
				let sentenceHTML = spliceStrings(sentence, spliceList);
				sentenceElement.innerHTML = sentenceHTML;
			}

			function sendFeedback() {
				feedbackObject = {
					'predication_id' : document.getElementById('feedbackSentence').dataset.predicationId,
					'overall_correct' : !document.getElementById('overallCheck').checked,
					'subject_correct' : !document.getElementById('subjectCheck').checked,
					'object_correct' : !document.getElementById('objectCheck').checked,
					'predicate_correct' : !document.getElementById('predicateCheck').checked,
					'type' : document.getElementById('feedback-type').value
				}
				commentText = document.getElementById('comments').value
				if(commentText.length > 0) {
					feedbackObject['comments'] = commentText;
				}
				$.ajax({
					url : '/api/semmed/feedback',
					type : 'POST',
					dataType: 'json',
					contentType: 'application/json;charset=utf-8',
					data : JSON.stringify(feedbackObject),
					success : function() {
						feedbackBtn = $('#submitButton');
						$('#feedbackModal').modal('hide');
						feedbackBtn.prop('disabled', true);
						feedbackBtn.html('Feedback sent')
					},
					error : function(request,error)
					{
						console.log("Request: " + JSON.stringify(request));
					}
				});
			}

			Array.prototype.forEach.call(document.getElementsByClassName('evidence_sentence'), function(element) {
				highlightText(element.id);
			});

			var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
			var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
				return new bootstrap.Tooltip(tooltipTriggerEl)
			})

			var checkboxes = document.querySelectorAll("input[type=checkbox]");
			checkboxes.forEach(function(checkbox) {
				checkbox.addEventListener('change', function() {
					if (checkbox.checked) {
						if (checkbox.id == 'overallOK') {
							$('input[type=checkbox]').not('#overallOK').prop('checked', false);
						} else {
							$('#overallOK').prop('checked', false);
						}
					}
				});
			});

			document.getElementById('submitButton').addEventListener('click', sendFeedback);
		});
	</script>
</body>
</html>